body {
  font-color: #808080;
}

img {
  width: 100%;
}

.masonry {
  /*column-count: 4;*/
  column-count: 4;
  column-gap: 16px;
}

.masonry .mItem {
  display: inline-block;
  margin-bottom: 16px;
  width: 100%;
}

@media (max-width: 1199px) {
  .masonry {
    column-count: 3;
  }
}

@media (max-width: 991px) {
  .masonry {
    column-count: 2;
  }
}

@media (max-width: 767px) {
  .masonry {
    column-count: 1;
  }
}

/* footer*/
.footer-container {
  color: #808080;
  padding: 100px 0 10px;
}


.copyright {
  color: #808080;
  width: 100%;
  margin-top: 20px;
  padding: 20px 0;
}

