/*follow page title - babies*/
.follow-page-h2-title {
  margin-top: 180px;
  text-align: center;
  font-color: #39A2DB;
  font-family: 'Sacramento', cursive;
  font-size: 2.75rem;
  font-weight: bolder;
  line-height: 2;
}

/*
 * Footer
 */

.footer-container {
  color: #EAF6F6;
  padding-top: 20%
}

.copyright {
  color: #EAF6F6;
  width: 100%;
  margin-top: 20px;
  padding-top: 15%;
}
