<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Create Space</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>

<body>
<header></header>


<div class="container text-center">

    <h2>Create Your Space</h2>
    <form action="#" th:action="@{/spaces/create-space}" th:object="${space}" method="post" style="max-width: 600px; margin: 0 auto;">
        <div class="form-group">
            <label>Space Name</label>
            <input type="text" th:field="*{spaceName}" th:class="${#fields.hasErrors('spaceName') ? 'form-control is-invalid' : 'form-control'}"/>
            <div th:if="${#fields.hasErrors('spaceName')}" th:errors="*{spaceName}" class="invalid-feedback"></div>
        </div><!-- Space Name -->
        <div class="form-group">
            <label>Space Description</label>
            <textarea rows="5" cols="" th:field="*{spaceDescription}"
                      th:class="${#fields.hasErrors('spaceDescription') ? 'form-control is-invalid' : 'form-control'}"></textarea>
            <div th:if="${#fields.hasErrors('owner')}" th:errors="*{owner}" class="invalid-feedback"></div>
        </div><!-- Space Description -->
        <div class="form-group">
            <label>Baby Name</label>
            <input type="text" th:field="*{babyName}" th:class="${#fields.hasErrors('babyName') ? 'form-control is-invalid' : 'form-control'}"/>
            <div th:if="${#fields.hasErrors('babyName')}" th:errors="*{babyName}" class="invalid-feedback"></div>
        </div><!-- Baby Name -->
        <div class="form-group">
            <label>Baby Gender</label>
            <input type="radio" th:field="*{babyGender}" value="Male" />Male
            <input type="radio" th:field="*{babyGender}" value="Female" />Female<br/>
        </div><!-- Baby Gender -->
        <div class="form-group">
            <label>BabyBirthday:</label>
<!--                <input type="date" name="date" id="birthdate"  autocomplete="off" th:field="*{babyBirthday}"/>-->
<!--                <input type="date" class="form-control" name="babyBirthday" th:value="${#dates.format(babyBirthday, 'yyyy-MM-dd')}"/>-->
<!--            placeholder="yyyy/mm/dd"/>-->
            <input type="text" th:field="*{{babyBirthday}}" placeholder="yyyy/mm/dd"/>
        </div><!-- Baby Birthday -->
        <div class="form-group">
            <label>Place of Residence (Los Angeles, CA, USA)</label>
            <input type="text" th:field="*{babyResidence}" /><br/>
        </div><!-- Baby Residence -->
        <div class="form-group clearfix">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div><!-- Submit Button -->
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.1/cjs/popper.min.js"
        integrity="sha256-T3bYsIPyOLpEfeZOX4M7J59ZoDMzuYFUsPiSN3Xcc2M=" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

</body>

</html>
