<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Created Successfully</title>
    <style type="text/css">
    span {
        display: inline-block;
        width: 200px;
        text-align: left;
    }
    </style>
</head>
<body>
<div class="container text-center">
    <h2>Congratulations! You Have Created Space Successfully!</h2>
    <span>Space Id:</span><span th:text="${spaceId}"></span><br/>
    <span>Space Owner's username:</span><span th:text="${spaceOwnerUserName}"></span><br/>
    <span>Space Name:</span><span th:text="${spaceName}"></span><br/>
    <span>Space Description: </span><span th:text="${spaceDescription}"></span><br/>
    <span>Baby Name: </span><span th:text="${babyName}"></span><br/>
    <span>Baby's Gender: </span><span th:text="${babyGender}"></span><br/>
    <span>Baby's Birthday: </span><span th:text="${babyBirthday}"></span><br/>
    <span>Place of Residence: </span><span th:text="${babyResidence}"></span><br/>
    <span>Created at: </span><span th:text="${spaceCreatedDateTime}"></span><br/>
</div>

<div class="link">
    <h4><a th:href="@{'/spaces/' + ${spaceId}}">Go to your space</a></h4>
</div>
<div class="link">
    <h4><a th:href="@{'/follows/' + ${userId}}">Check your followed spaces</a></h4>
</div>
</body>

</html>
