<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href="/docs/4.0/assets/img/favicons/favicon.ico" rel="icon">

    <title>MiniOne</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/4.0/examples/cover/" rel="canonical">
    <link href="/css/styles.css" rel="stylesheet"/>
    <style>
        .copyright {
          color: #EAF6F6;
          width: 100%;
        }

    </style>
</head>

<body class="text-center">
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead">
        <div class="inner">
            <h2 class="masthead-brand">MiniOne</h2>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="index.html" th:href="@{/}">Home</a>
                <a class="nav-link active" href="users/login.html" th:href="@{/users/login}">Login</a>
                <a class="nav-link active" href="users/register.html" th:href="@{/users/register}">Register</a>
            </nav>
        </div>
    </header>

    <main class="inner cover" role="main">
        <p>
        </p>
        <div class="carousel slide" data-bs-ride="carousel" id="carouselExampleControls">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img alt="happy-moment1" class="d-block w-100" th:src="@{/img/happyMoment1.jpeg}">
                </div>
                <div class="carousel-item">
                    <img alt="happy-moment2" class="d-block w-100" th:src="@{/img/happyMoment2.jpg}">
                </div>
            </div>
            <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExampleControls"
                    type="button">
                <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#carouselExampleControls"
                    type="button">
                <span aria-hidden="true" class="carousel-control-next-icon"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <h1 class="cover-heading">Record our life with MiniOne</h1>
        <p class="lead">What we once have enjoyed we can never lose.</p>
        <p class="start-recording">
            <a class="btn btn-lg btn-secondary" href="users/login.html" th:href="@{/users/login}">Start Recording</a>
        </p>
    </main>
    <div class="footer-container">
        <p class="copyright">© 2021 MiniOne developed by Qiangqiang Zhang and Shujun Xiao.</p>
    </div>

</div>

</body>

<script crossorigin="anonymous"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
